{{define "index"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Groupie Tracker - {{ .Name }}</title>
        <link rel="stylesheet" href="assets/stylegohtml.css" />
    </head>
    <body>
    <!-- Remettre le bandeau de menu -->
        
        <section id="">
            <div>
                <h1>{{.Name}}</h1>
                <img src={{.Image}} />
            </div>
        </section>
    </body>
</html>
{{end}}