{{define "index"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Groupie Tracker - {{ .name }}</title>
        <!-- <link rel="stylesheet" href="stylegohtml.css" /> -->
    </head>
    <body>
        
    </body>
</html>
{{end}}