body {
    background-color: bisque;
    margin: 0;
    padding: 0;
}
footer {
    background-color: black;
    width: 100%;
    height: 100px;
    bottom: 0;
}
footer p {
    text-align: center;
    color: white;
    padding-top: 30px;
    margin-top: -90px;
}
footer img {
    width: 80px;
    height: 80px;
    padding-top: 10px;
    padding-left: 30px;
}
.menu {
    background-color: #FF661F;
    top: 0;
    position: fixed;
    width: 100%;
    margin-top: -20px;
    padding-top: 50px;
    height: 80px;
    z-index: 999;
}
.menu input {
    float: right;
    margin-right: 140px;
    margin-top: -60px;

}
.menu button {
    float: right;
    margin-right: 55px;
    margin-top: -60px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
li a:hover {
    color: #1FFFE8;
}
.recherche {
    background-color: #B3400B;
    border: 3px solid black;
    height: 25px;
}
.recherche:hover, .recherche:active {
    background-color: #ED5209
}
.btnrecherche {
    background-color: #ED5209;
    border: 3px solid black;
}
.btnrecherche:hover, .btnrecherche:active {
    background-color: #B3400B;
}
.active {
    background-color: #B3400B;
    margin-left: 10px;
    height: 52px;
}
h1 {
    text-align: center;
    color: white;
}
.button {
    background-color: #FF661F;
    text-align: center;
    height: 70px;
    width: auto;
    border-radius: 50px;
    border: 0;
    margin-top: 20px;
}

.button:hover {
    background-color: #B3400B;
    transition: 0.3s;
}

/* Première ligne */
.queen {
   background-color: #00B3A0;
   border-radius: 20px; 
   width: 400px;
   padding: 20px;
   -moz-transition: all 2 ease;
}

.queen:hover {
    -moz-transform: scale(1.05);
    transform: scale(1.01);
    box-shadow: 7px 7px 10px grey;
}

.pinkfloyd {
    background-color: #00B3A0;
    border-radius: 20px;  
    width: 400px;
    padding: 20px;
    -moz-transition: all 2 ease;
}

.pinkfloyd:hover {
    -moz-transform: scale(1.05);
    transform: scale(1.01);
    box-shadow: 7px 7px 10px grey;
}

.katyperry {
    background-color: #00B3A0; 
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    -moz-transition: all 2 ease;
}

.katyperry:hover {
    -moz-transform: scale(1.05);
    transform: scale(1.01);
    box-shadow: 7px 7px 10px grey;
}

/* Fin première ligne */

/* Flexbox */

#cart {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
    margin-top: 180px;
    margin-bottom: auto;
}
/*  */

/* Flexbox lignes milieu */

#cart2 {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
    margin-top: 50px;
}

/*  */

/* Flexbox dernière ligne */

#cart3 {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
    margin-top: 200px;
    margin-bottom: 150px;
}

/*  */
.droite {
    background-color: #00B3A0;
    border-radius: 20px; 
    width: 400px;
    padding: 20px;
    -moz-transition: all 2 ease;
}

.droite:hover {
    -moz-transform: scale(1.05);
    transform: scale(1.01);
    box-shadow: 7px 7px 10px grey;
}

.milieu {
    background-color: #00B3A0; 
    border-radius: 20px; 
    width: 400px;
    padding: 20px;
    -moz-transition: all 2 ease;
}

.milieu:hover {
    -moz-transform: scale(1.05);
    transform: scale(1.01);
    box-shadow: 7px 7px 10px grey;
}

.gauche {
    background-color: #00B3A0;
    border-radius: 20px; 
    width: 400px;
    padding: 20px;
    -moz-transition: all 2 ease;
}

.gauche:hover {
    -moz-transform: scale(1.05);
    transform: scale(1.01);
    box-shadow: 7px 7px 10px grey;
}