{{define "error404"}}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Error 404</title>
        <link rel="stylesheet" href="../static/css/styleerr.css" />
        <link rel="shortcut icon" href="img/logo2.png"/>
    </head>
    <body>
        <div class="error">
            <h1>Error 404</h1>
            <p>Sorry, page not found</p>
        </div>
        <div>
        <form action="/Groupie-tracker">
            <button><strong>Home</strong></a></button>
            </form>
        </div>
    </body>
</html>
{{end}}