{{define "index"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Groupie Tracker </title>
    </head>
    <body>
    <p>oui</p><br>
            name : "{{ .Name }}"<br>
            members : "{{ .Members }}"<br>
            creationDate : "{{ .CreationDate }}"<br>
            firstAlbum : "{{ .FirstAlbum }}"<br>
            locations : "{{ .Locations}}"<br>
            concertDates : "{{ .ConcertDates}}"<br>
            relations : "{{ .Relations}}"<br>
    </body>
</html>
{{end}}