{{ define "index" }}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
    <Title>Groupie-tracker</Title>
    </head>
    <body>
        <p>alooooo fais marché la page {{.Title}}
        </p>
    </body>
    </html>
{{ end }}
    