<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Groupie Tracker</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <main>
            {{ template "body" . }}
        </main>

    
    {{range $}}
    <section id="cart">
        <div class="queen">
            <img src={{.Image}} style="width: 300px;padding-left: 50px;" />
            <center> <form action="/Groupie-tracker/artist" method="post"><button class="button"><h1>{{.Name}}</h1></button><input type="hidden" name="nombre" value="0"></form></center>
            {{range .DateLocation}}
                {{.Location}} :
                {{range .Dates}}
                    {{.}}
                {{end}}
                </br>
            {{end}}
        </div>
    </section>
    {{end}}
   <div class="changementpage">
        <form action="/Groupie-tracker/PagePrecedente" method="POST">
            <button type="submit" name="suivant"> < </button>
            {{range $}}
            <input type="hidden" name="page" value="{{.Page}}">
            {{end}}
        </form>
        <form action="/Groupie-tracker/PageSuivante" method="POST">
            <button type="submit" name="suivant"> > </button>
        {{range $}}
            <input type="hidden" name="page" value="{{.Page}}">
            {{end}}
        </form>
    </div>
    <!-- Créer un bouton pour revenir tout en haut de la page --> */}}
    </body>
</html>
