{{ define "pagecart" }}
<div class="page_carte_titre">
    <h1>Carte</h1>
</div>
<form action="/Groupie-tracker/cart" method="POST">
    <button type="submit">submit</button>
    <select name="map">
        <option>choose a location</option>
        {{range .Location}}
        <option name="map">
            {{.}}
        </option>
        {{end}}
    </select>
</form>
<div class="carte">
    <iframe
        width=80%
        height=80%
        frameborder="0" style="border:0"
        src={{.Valeur}}>
       </iframe>
</div>
{{ end }}