{{ define "pagelistartists" }}

<div class="cart_cart">
    <form action="/Groupie-tracker/Recherche" method="POST">
        <input type="text" name="Artists" placeholder="Rentrez un nombre d'artistes a voir">   
        <input type="hidden" value="{{.NbArtist}}"> 
    </form>
    {{range .Noyau}}
    <section id="cart">
        <div class="cart_artists">
            <img class="img_artist" src={{.Image}} />
            <center><form action="/Groupie-tracker/artist" method="post"><button class="button" name="{{.Id}}"><h1>{{.Name}}</h1></button><input type="hidden" name="nombre" value="0"><input type="hidden" name="id" value="{{.Id}}"></form></center>
            </section>
    {{end}}
</div>
<div>
    <form action="/Groupie-tracker/nbArtist" method="POST">
        <input type="text" name="Artists" placeholder="Rentrez un nombre d'artistes a voir">   
        <input type="hidden" value="{{.NbArtist}}"> 
    </form>
    <div class="changementpage">
        <form action="/Groupie-tracker/PagePrecedente" method="POST">
            <button type="submit" name="précédent"> < </button>
            <input type="hidden" name="page"  value="{{.Page}}">
            <input type="hidden" name="Artists" value="{{.NbArtist}}">
        </form>
        <form action="/Groupie-tracker/PageSuivante" method="POST">
            <button type="submit" name="suivant">></button>
            <input type="hidden" name="page" value="{{.Page}}">
            <input type="hidden" name="Artists" value="{{.NbArtist}}">
        </form>
    </div>
</div>
{{ end }}