{{ define "pagelistartists" }}
<div class="trie_filter">
    <form  action="/Groupie-tracker/listartist" method="POST">
        <button class="btn_filter" type="submit" name="alphabet"><p>A-Z</p></button>
        <input type="hidden" value="TRUE" name="FilterAlpha"> 
        <input type="hidden" name="Artists" value="{{.NbArtist}}">
    </form>
    <form action="/Groupie-tracker/listartist" method="POST">
        <button class="btn_filter" type="submit" name="Creation Date"><p>Dates</p></button>
        <input type="hidden" value="TRUE" name="FilterDate"> 
        <input type="hidden" value="{{.NbArtist}}" name="Artists">
    </form>
    <form action="/Groupie-tracker/listartist" method="POST">
        <button class="btn_filter" type="submit" name="Groups"><p>Groupes</p></button>
        <input type="hidden" value="TRUE" name="FilterGroups">
        <input type="hidden" value="{{.NbArtist}}" name="Artists">
    </form>
    <form action="/Groupie-tracker/listartist" method="POST">
        <button class="btn_filter" type="submit" name="Solo"><p>Solo</p></button>
        <input type="hidden" value="TRUE" name="FilterSolo">
        <input type="hidden" value="{{.NbArtist}}" name="Artists">
    </form>
    <form action="/Groupie-tracker/nbArtist" method="POST">
        <input class="search" type="text" name="Artists" placeholder="Nombre d'artistes a voir...">   
        <input type="hidden" value="{{.NbArtist}}"> 
        <input type="hidden" name="function" value="{{.Function}}">
    </form>
    <form action="/Groupie-tracker/Recherche" method="POST">
        <input class="search" type="text" name="find" placeholder="Entrez un nom d'artiste">
    </form>
</div>
<div class="cart_cart">
    {{range .Noyau}}
    <section id="cart">
        <div class="cart_artists">
            <img class="img_artist" src={{.Image}} />
            <center><form action="/Groupie-tracker/artist" method="post"><button class="button" name="{{.Id}}"><h1>{{.Name}}</h1></button><input type="hidden" name="nombre" value="0"><input type="hidden" name="id" value="{{.Id}}"></form></center>
            </section>
    {{end}}
</div>

<div>
    <div class="changementpage">
        <form action="/Groupie-tracker/listartist" method="POST">
            <button class="btn_travel" type="submit" name="précédent"><p>< Précédent</p></button>
            <input type="hidden" name="page"  value="{{.Page}}">
            <input type="hidden" name="pagePrecedente"  value="TRUE">
            <input type="hidden" name="Artists" value="{{.NbArtist}}">
            <input type="hidden" name="function" value="{{.Function}}">
        </form>
        <form action="/Groupie-tracker/listartist" method="POST">
            <button class="btn_travel" type="submit" name="suivant"><p>Suivant ></p></button>
            <input type="hidden" name="page" value="{{.Page}}">
            <input type="hidden" name="pageSuivante"  value="TRUE">
            <input type="hidden" name="Artists" value="{{.NbArtist}}">
            <input type="hidden" name="function" value="{{.Function}}">
        </form>
    </div>
</div>
{{ end }}
