{{ define "pagecart" }}
<div class="page_carte_titre">
    <h1>Carte</h1>
</div>
<div class="search_cart">
    <form action="/Groupie-tracker/cart" method="POST">
        <button class="btn_search_cart" type="submit"><p>Envoyer</p></button>
        <select name="map">
            <option>choose a location</option>
            {{range .Location}}
            <option name="map">
                {{.}}
            </option>
            {{end}}
        </select>
    </form>
</div>
<div class="carte">
    <iframe
        width=100%
        height=70%
        frameborder="0" style="border:0"
        src={{.Valeur}}>
    </iframe>
</div>
{{ end }}