{{ define "pagelistartists" }}
<div class="filter">
    <!-- Insérer les filtres -->
</div>
<div class="cart_cart">
    {{range $}}
    <section id="cart">
        <div class="cart_artists">
            <img class="img_artist" src={{.Image}} />
            <center><form action="/Groupie-tracker/artist" method="post"><button class="button" name="{{.Id}}"><h1>{{.Name}}</h1></button><input type="hidden" name="nombre" value="0"><input type="hidden" name="id" value="{{.Id}}"></form></center>
            </section>
    {{end}}
</div>
<div>
    <div class="changementpage">
        <form action="/Groupie-tracker/PagePrecedente" method="POST">
            <div class="btn_travel_page">
                <button class="btn_travel" type="submit" name="précédent"><p> < Précédent </p></button>
            </div>
            {{range $}}
            <input type="hidden" name="page"  value="{{.Page}}">
            {{end}}
        </form>
        <form action="/Groupie-tracker/PageSuivante" method="POST">
            <div class="btn_travel_page">
                <button class="btn_travel" type="submit" name="suivant"><p> Suivant > </p></button>
            </div>
            {{range $}}
            <input type="hidden" name="page" value="{{.Page}}">
            {{end}}
        </form>
    </div>
</div>
{{ end }}