body {
    background-color: bisque;
    margin: 0;
    padding: 0;
}
footer {
    background-color: black;
    width: 100%;
    height: 80px;
    bottom: 0;
}
footer p {
    text-align: center;
    color: white;
    padding-top: 30px;
}
.menu {
    background-color: #FF661F;
    top: 0;
    position: fixed;
    width: 100%;
    margin-top: -20px;
    padding-top: 50px;
    height: 80px;
}
.menu input {
    float: right;
    margin-right: 140px;
    margin-top: -60px;

}
.menu button {
    float: right;
    margin-right: 55px;
    margin-top: -60px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
li a:hover {
    color: #1FFFE8;
}
.active {
    background-color: #B3400B;
    margin-left: 10px;
    height: 52px;
}
h1 {
    text-align: center;
    color: white;
}
.queen {
   background-color: #00B3A0; 
   width: 400px;
   padding: 20px;
   margin-bottom: 50px;
   margin-top: 170px;
   margin-left: 30px;
}
.button {
    background-color: #FF661F;
    text-align: center;
    height: 70px;
    width: auto;
    border-radius: 50px;
    border: 0;
    margin-top: 20px;
}
.button:hover {
    background-color: #B3400B;
    transition: 0.5s;
}
.pinkfloyd {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -480px;
    margin-left: 520px;
}
.pinkfloyd h1:hover {
    color: blueviolet;
}
.katyperry {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -632px;
    margin-left: 1010px;
}
.katyperry h1:hover {
    color: darkorange;
}
.soja {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -150px;
    margin-left: 30px;
}
.scorpions {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -630px;
    margin-left: 520px;
}
.XXXTentacion {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -630px;
    margin-left: 1010px;
}
.macmiller {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -150px;
    margin-left: 30px;
}
.joynerlucas {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -635px;
    margin-left: 520px;
}
.kendricklamar {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -635px;
    margin-left: 1010px;
}
.acdc {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -150px;
    margin-left: 30px;
}
.pearljam{
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -635px;
    margin-left: 520px;
}
.rihanna {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -635px;
    margin-left: 1010px;
}
.genesis {

}
.philcollins {

}
.ledzeppelin {

}
.jimihendrix {

}
.beegees {

}
.deppurple {

}

/* Remplacer le nom des artistes par les class suivantes */
/*.droite {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -150px;
    margin-left: 30px;
}*/
/*.milieu {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -635px;
    margin-left: 520px;
}*/
/*.gauche {
    background-color: #00B3A0; 
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: -635px;
    margin-left: 1010px;
}*/